@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* sm */

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}


/* md */

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}


/* lg */

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}


/* xl */

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}


/* xxl */

@media (min-width: 1600px) {
    .container {
        width: 1500px;
    }
}

/* RWD Container */

.container {
    width: 100%;
    display: flex;
    align-self: center;
    margin: auto;
}

/*General*/

/* .container {
    width: 100%;
    display: flex;
} */

body {
    font-size: 16px;
    line-height: 1.6;
    background-color: #fff;
    padding: 0;
    width: 100vw;
    margin: 0;
}

.layout-header {
    padding: 0;
    height: 126px;
    line-height: 1.6;
    background-color: #fff;
}

.layout-footer {
    background-color: #fff;
    height: 102px;
    padding: 0%;
}


/*Header*/

.header-wrap {
    display: flex;
    width: 1198px;
    margin: auto;
}

.header-logo,
.header-nav,
.header-icon {
    line-height: 126px;
}

.logo-img {
    width: 145px;
    height: 98px;
}

.icon-img {
    width: 42px;
    height: 42px;
}

.header-nav {
    padding-left: 20px;
    padding-top: 20px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 200px;
}

.header-icon {
    display: flex;
    width: 180px;
    justify-content: space-around;
}

.header-nav-text {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
}

.header-nav-text:hover {
    color: #FFB800;
}


/* carousel */

.carousel {
    background-color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.carousel-self {
    transform: scale(0.7);
    z-index: 12;
}

.carousel-block-yellow {
    background-color: #FFD976;
    position: absolute;
    width: 100%;
    height: 400px;
    z-index: 10;
    top: 250px;
}


/*about*/

.layout-about {
    height: 420px;
    display: flex;
}

.about-img {
    width: 547px;
    height: 355px;
    margin-left: 40%;
}

.about-sider {
    height: 420px;
    width: 50%;
    background-color: #fff;
    line-height: 390px;
}

.about-content {
    width: 50%;
    background-color: #fff;
}

.about-content-text {
    background: #FFFAEC;
    margin: auto;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: justify;
    width: 550px;
    height: 154px;
    padding-top: 1%;
    margin-left: 5%;
}

.about-content-block {
    background-color: #FFFAEC;
    margin-left: 2%;
    width: 98%;
    margin-top: 2%;
    height: 355px;
}

.about-content-title {
    font-weight: bolder;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    padding-top: 2%;
    margin-left: 5%;
    padding-bottom: 1%;
}

.title-color {
    color: #FFB800;
}

.about-content-line {
    border: 3px solid #FFB524;
    width: 550px;
    margin-left: 5%;
}

.about-content-btn {
    width: 150px;
    height: 40px;
    background: #FFD976;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 45%;
    margin-top: 5%;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}


/*process*/

.process-layout {
    background-color: #FFD976;
}

.process-intro {
    height: 328px;
}

.process-title {
    height: 50px;
    font-weight: bold;
    font-size: 24px;
    padding-top: 1%;
    line-height: 50px;
    text-align: center;
    color: #FFFAEC;
}

.process-line {
    border: 2px solid #FFFAEC;
    text-align: center;
    width: 212px;
    margin-top: 1%;
    margin-bottom: 2%;
}

.intro-image {
    display: flex;
    width: 95%;
    justify-content: center;
    padding-left: 5%;
}

.process-image {
    padding: 0%;
}


/*process-order*/

.process-order {
    height: 350px;
    background: #FFB800;
}

.process-arrow-between {
    width: 198px;
    height: 30spx;
    border-style: solid;
    border-width: 30px 100px 0 100px;
    border-color: #FFD976 transparent transparent transparent;
    margin: auto;
}

.order-number-block {
    width: 1300px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 1%;
}

.block-circle {
    width: 126px;
    height: 126px;
    border-radius: 999em;
    background: #FDEFC7;
    font-weight: bold;
    font-size: 72px;
    line-height: 115px;
    color: #FFB800;
    text-align: center;
}

.block-arrow {
    margin-top: 3%;
    width: 58px;
    height: 58px;
    mix-blend-mode: luminosity;
}

.order-number-text {
    display: flex;
    width: 1330px;
    justify-content: space-between;
    margin: auto;
    margin-top: 1%;
}

.number-intro {
    font-size: 18px;
    line-height: 21px;
    font-weight: bolder;
    color: #FFFFFF;
    text-align: center;
}

.order-btn {
    width: 264px;
    height: 49px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #FFB800;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    line-height: 49px;
}


/*footer*/

.bg-yellow {
    background-color: #FFD976;
    height: 102px;
    width: 100%;
    padding-top: 2px;
}

.footer-line {
    width: 100px;
    height: 0px;
    margin-top: 38px;
    border: 1px solid #FFFFFF;
    line-height: 102px;
}

.text-white {
    padding-top: 5px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}