@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* RWD Container */

.container {
    width: 100%;
    display: flex;
    align-self: center;
    margin: auto;
}


/* sm */

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}


/* md */

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}


/* lg */

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}


/* xl */

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}


/* xxl */

@media (min-width: 1600px) {
    .container {
        width: 1500px;
    }
}


/*General*/

.container {
    width: 100%;
    display: flex;
}

body {
    font-size: 16px;
    line-height: 1.6;
    background-color: #fff;
    padding: 0;
    width: 100vw;
    margin: 0;
}

.layout-header {
    padding: 0;
    height: 126px;
    line-height: 1.6;
    background-color: #fff;
}


/*Header*/

.header-wrap {
    display: flex;
    width: 1198px;
    margin: auto;
}

.header-logo,
.header-nav,
.header-icon {
    line-height: 126px;
}

.logo-img {
    width: 145px;
    height: 98px;
}

.icon-img {
    width: 42px;
    height: 42px;
}

.header-nav {
    padding-left: 20px;
    padding-top: 20px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 200px;
}

.header-icon {
    display: flex;
    width: 180px;
    justify-content: space-around;
}

.header-nav-text {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
}

.header-nav-text:hover {
    color: #FFB800;
}